dist/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <title>Accounting of goods</title>
  </head>
  <body>
    <div class="wrapper">       
      <section class="accounting">
        <div class="accounting__bydate">
          <header class="accounting__total">
            <div class="accounting__date">
                                           <span class="arrow-toggle date__toggle"></span> <span class="date__text">14 июня</span></div>
            <div class="accounting__total_price">Докуметов: <span>4 (7 776,67 Р)</span></div>
          </header>
          <div class="accounting__bydocs">
            <div class="accounting__bydoc">
              <header class="accounting__info">
                <div class="accounting__number">Приход говна</div>
                <div class="accounting__price">1 234,67 Р</div>
              </header>
              <div class="accounting__products_total">
                <div class="count_products"> 
                  <div class="count_products__text">
                     <span class="dropdown-toggle"></span> Товаров: <span>2</span></div>
                  <div class="accounting__products">
                    <div class="accounting__product">
                      <div class="product__image"><img src="no_image.png" alt="Аленка карамель 100г Акцион..."/></div>
                      <div class="product__name">Аленка карамель 100г Акцион...
                        <div class="product__count">5 штук * 75 Р</div>
                      </div>
                      <div class="product__price">375 P</div>
                    </div>
                    <div class="accounting__product">
                      <div class="product__image"><img src="https://www.utkonos.ru/images/photo/3054/3054289H.jpg" alt="Аленка карамель 100г Акцион..."/></div>
                      <div class="product__name">Аленка карамель 100г Акцион...
                        <div class="product__count">2 штуки * 50 Р</div>
                      </div>
                      <div class="product__price">100 P</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

app/index.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/styles.css")
        title Accounting of goods
    body
        - var months = 'января февраля марта апреля мая июня июля августа сентбря октября ноября декабря'.split(' ');
        - var dates = [], newDate = true;
        - var obj = [{ date: '14 июня', totalDocs: '4 (7 776,67 Р)',docs: [{ docNumber: 'Приход говна', docTotal: '1 234,67 Р', productsCount: 2,products: [{ name: 'Аленка карамель 100г Акцион...', count: '5 штук * 75 Р', totalPrice: '375 P', image: 'no_image.png' },{ name: 'Аленка карамель 100г Акцион...', count: '2 штуки * 50 Р', totalPrice: '100 P', image: 'https://www.utkonos.ru/images/photo/3054/3054289H.jpg' }]}]}];
        //- - Data.forEach(function(item) { 
        //-     h2=`${new Date(item).getDate()} ${months[new Date(item).getMonth()]}`
        //- - })
        .wrapper        
            section.accounting
                each docs in obj
                    .accounting__bydate
                        header.accounting__total
                            .accounting__date                              
                                <span class="arrow-toggle date__toggle"></span> 
                                span.date__text= docs.date
                            .accounting__total_price Докуметов: 
                                span= docs.totalDocs
                        .accounting__bydocs
                            each doc, keyDocs in docs.docs
                                .accounting__bydoc
                                    header.accounting__info
                                        .accounting__number= doc.docNumber                                        
                                        .accounting__price= doc.docTotal
                                    .accounting__products_total
                                        .count_products 
                                            .count_products__text 
                                                <span class="dropdown-toggle"></span> Товаров: 
                                                span= doc.productsCount  
                                            .accounting__products
                                                each product in doc.products
                                                    .accounting__product
                                                        .product__image
                                                            img(src=product.image, alt=product.name)
                                                        .product__name= product.name
                                                            .product__count= product.count
                                                        .product__price= product.totalPrice                                
                        
                                                

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="js/main.js")
